.containerdiv{
    border: 2px solid red;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    height: 100vh;
    padding: 10px;
    /* position: relative;  */
    display: flex !important; 
    /* margin-top: 15px; */
}
.imaageuploadstyle{
    position: absolute;
    bottom: 0px;
    display: flex;
}
/* .imagestyle{
    border: 2px solid;
} */
.imagestyle{
    text-align: center;
    height: 500px;
    width: 75%;
    border-radius: 10px;
    margin: auto !important;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.imagewidth{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto !important;
    background-image: url(../assets/imgupload.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width:688px) {
    .containerdiv{
        width: 100%;
        height: 100vh;
    }
    .imagestyle{
        /* position: absolute; */
        margin-top: 30px !important;
        border: 3px solid;
        height: 80vh;
        width: 100%;
        border-radius: 10px;
        /* margin: auto !important; */
        justify-content: center;
        background-image: url(../assets/imgupload.jpg);
        background-size: cover;
        background-position: center;
    }
    /* .imagestyle{
        text-align: center;
        height: 500px;
        width: 100%;
        border-radius: 10px;
        margin: auto !important;
        align-items: center;
        display: flex;
        justify-content: center;
       
    } */
    /* .imagewidth{
        position: absolute;
        width: 100%;
        padding: 0px;
        height: 100%;
        border-radius: 10px;
        margin: auto !important;
    } */
    .imaageuploadstyle{
        position: absolute;
        bottom: 10px;
        display: block;
        padding: 5px;
    }
}


   
